body {  background-color: black;
color:aliceblue;
box-sizing: border-box;}

.content { 
  border: 1px solid white;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: rgb(37, 12, 31);
  font-family: myFirstFont, MyFont_IE, Tahoma, Geneva, sans-serif;
  
}
.content img { 
  width:  200px;
}
.released {
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
}

.main  {
  margin: auto;
}